{% extends 'base.html.twig' %}

{% block title %}Confirmation - Pharm'Happy{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1>Merci pour votre soumission !</h1>
        <p>Nous avons bien reçu votre demande concernant votre pharmacie.</p>
        <p>Une réponse vous sera envoyée prochainement.</p>
        <a href="{{ path('app_medication') }}" class="btn btn-primary mt-3">Retour à l'accueil</a>
    </div>
{% endblock %}
