{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Tableau de bord Administrateur{% endblock %}
{% block page_content %}
    <h3>Bienvenue sur Easy Admin - Votre Portail de Gestion Pharm'Happy !</h3>

    <p>Nous sommes ravis de vous accueillir sur la plateforme Easy Admin dédiée à la gestion efficace de Pharm'Happy.
        Cette application a été spécialement conçue pour simplifier la gestion de nos médicaments et de nos données, offrant une
        interface conviviale et des fonctionnalités puissantes pour optimiser votre expérience.</p>

    <ul>
        <li><strong>Consultez nos stock en un clic :</strong> Naviguez facilement à travers les différents médicaments
            et leurs échantillons grâce à notre interface intuitive. Consultez rapidement les informations sur chaque médicament,
            vérifiez leur stock et assurez-vous que aucun ne soit vide.
        </li>

        <li><strong>Gérez les commandes avec facilité :</strong> Easy Admin simplifie le processus de commandes,
            vous permettant de gérer les nombreuses commandes facilement. Consultez les commandes, suivez les
            états de livraisons, et assurez-vous que chaque client ai une bonne expérience de notre site.
        </li>

        <li><strong>Sécurisé et Accessible :</strong> Easy Admin met la sécurité au premier plan. Vos données sont
            protégées, garantissant une expérience de gestion sans souci. De plus, notre interface est conçue pour être
            accessible à tous, simplifiant ainsi la prise en main pour l'ensemble de notre équipe.
        </li>
    </ul>

    <p>Explorez toutes les fonctionnalités puissantes d'Easy Admin et découvrez comment elle peut transformer la gestion
        quotidienne de notre cabinet. Nous sommes convaincus que cette application deviendra votre alliée incontournable
        pour assurer le succès continu de Pharm'Happy.</p>

    <p><strong>Bienvenue dans une nouvelle ère de gestion pharmaceutique avec Easy Admin !</strong></p>
{% endblock %}
