{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau médicament{% endblock %}

{% block body %}
    <h1>Créer un nouveau médicament</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
